<div id="shopify-section-1542984842027" class="shopify-section"><section class="section section--text-centered" data-section-id="1542984842027" data-section-type="newsletter">
  <div class="container_newsletter_innovate"><h2 class="heading h3 newsletter_elements" style="color: white;">Newsletter</h2><div class="rte newsletter_elements">
        <p>Recibe nuestras ofertas y novedades en tu email</p>
      </div><div class="newsletter newsletter--compact newsletter_elements"><form method="post" action="/contact#newsletter-1542984842027" id="newsletter-1542984842027" accept-charset="UTF-8" class="form newsletter__form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="contact[tags]" value="newsletter">

          <div class="form__input-row">
            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input type="email" id="newsletter[contact][email]" name="contact[email]" class="form__field form__field--text" required="">
              <label for="newsletter[contact][email]" class="form__floating-label">Tu email</label>
            </div>

            <button type="submit" class="form__submit button button--primary">Suscribirse</button>
          </div></form></div>
  </div>
</section>

</div>